<header class="header">
    <div class="container">
        <nav class="menu">
            <img src="./images/logo/logo.svg" alt="лого">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">головна</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">о нас</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">контакти</a>
                </li>
            </ul>
                <button class="menu__btn-switch switchBtn" type="button">
                    <span class="sr-only">перемикач теми</span>
                    <svg class="menu__icon menu__icon--sun" width="29" height="29">
                        <use href="images/icon/sprite.svg#Sun"></use>
                    </svg>
                    <svg class="menu__icon menu__icon--moon" width="29" height="29">
                        <use href="images/icon/sprite.svg#moon"></use>
                    </svg>
                </button>
        </nav>
    </div>
</header>