<section class="hero">
    <div class="container">
        <div class="hero__top">
            <h2 class="hero__title">
                bmw m8 competition
            </h2>
            <div class="hero__info">
                <p class="hero__info-text">
                    Обладнання, яким оснащені автомобілі BMW 8 серії Coupé М,
                    покликане вивести на новий рівень враження,
                    які ви отримуєте від водіння. Перевага спортивного автомобіля 
                </p>
                <div class="hero__box">
                   <button class="hero__btn" type="button">докладніше</button>
                   <button class="hero__btn hero__btn--order" type="button">заказать</button>
                </div>
            </div>
        </div>
        <img src="./images/hero/car.png" alt="бмв м8" width="1336" height="463">
        <ul class="hero__list">
            <li class="hero__item">
                <p class="hero__text">
                    Розгін 0–100 км/год, с
                </p>
            </li>
                <li class="hero__item">
                <p class="hero__text">
                    Витрата палива
                    У місті, л/100 км14.6
                </p>
            </li>
            <li class="hero__item">
                <p class="hero__text">
                    Кількість циліндрів/клапанів8/4
                </p>
            </li>
            <li class="hero__item">
                <p class="hero__text">
                    Власна маса (ЄС), кг1960
                </p>
            </li>
        </ul>
        <div class="hero__bottom">
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon" width="32" height="32">
                            <use href="images/icon/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon" width="32" height="32">
                            <use href="images/icon/sprite.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon" width="32" height="32">
                            <use href="images/icon/sprite.svg#telegram"></use>
                        </svg>                       
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon" width="32" height="32">
                            <use href="images/icon/sprite.svg#instagram"></use>
                        </svg>                             
                    </a>
                </li>
            </ul>
            <div class="hero__palette">
                <span class="hero__palette-title">колір</span>
                <ul class="hero__palette-list">
                    <li class="hero__palette-item">
                        <button class="hero__palette-btn hero__palette-btn--white" type="button">
                            <span class="sr-only">оберіть колір</span>
                        </button>
                    </li>
                    <li class="hero__palette-item">
                        <button class="hero__palette-btn hero__palette-btn--red" type="button">
                            <span class="sr-only">оберіть колір</span>
                        </button>
                    </li>
                    <li class="hero__palette-item">
                        <button class="hero__palette-btn hero__palette-btn--black" type="button">
                            <span class="sr-only">оберіть колір</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>